
*.xcbkptlist
*.xcuserstate
CountriesCommandLine.xcodeproj/xcuserdata/josfrybarillas.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
CountriesCommandLine.xcodeproj/project.xcworkspace/xcuserdata/josfrybarillas.xcuserdatad/UserInterfaceState.xcuserstate
